.root{
    -fx-font-family: "Segoe UI";
    -fx-background-color: #f8f5f7;
}

.sidebar{
    -fx-background-color: linear-gradient(to bottom,#7a002f,#99003d);
    -fx-padding: 20;
    -fx-pref-width: 240;
}

.sidebar-title{
    -fx-text-fill: white;
    -fx-font-size: 42px;
    -fx-font-weight: bold;
}

.nav-item,
.nav-item-active{
    -fx-pref-width: 200;
    -fx-pref-height: 42;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-cursor: hand;
}

.nav-item{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.nav-item:hover{
    -fx-background-color: rgba(255,255,255,0.15);
}

.nav-item-active{
    -fx-background-color: white;
    -fx-text-fill: #7a002f;
}
.page{
    -fx-padding: 25;
    -fx-spacing: 18;
}

.page-title{
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.button{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8 18;
    -fx-background-radius: 10;
}

.btn-create,
.btn-save{
    -fx-background-color: #8a0037;
    -fx-text-fill: white;
}

.btn-cancel{
    -fx-background-color: #b25b7d;
    -fx-text-fill: white;
}

.btn-edit{
    -fx-background-color: #38b24a;
    -fx-text-fill: white;
}

.btn-delete{
    -fx-background-color: #ff4b3a;
    -fx-text-fill: white;
}

.form-card{
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-spacing: 12;
    -fx-background-radius: 18;
    -fx-border-radius: 18;
    -fx-border-color: #ececec;
}

.form-title{
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.text-field,
.combo-box{
    -fx-pref-width: 550;
    -fx-pref-height: 42;
    -fx-font-size: 14px;
    -fx-background-color: white;
    -fx-border-color: #e5b7c4;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.text-field:focused,
.combo-box:focused{
    -fx-border-color: #8a0037;
}

.list-view{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.list-cell{
    -fx-background-color: transparent;
    -fx-padding: 8;
}

.forum-card{
    -fx-background-color: white;
    -fx-padding: 15;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
    -fx-border-color: #ececec;
    -fx-spacing: 10;
}

.label{
    -fx-font-size: 14px;
}
.text-field{
    -fx-pref-width: 1050;
    -fx-max-width: 1050;
    -fx-pref-height: 40;
}

.text-field{
    -fx-pref-width: 1050;
    -fx-max-width: 1050;
    -fx-pref-height: 40;
}

.combo-box{
    -fx-pref-width: 1050;
    -fx-pref-height: 40;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.combo-box-popup > .list-view{
    -fx-pref-height: 160;
    -fx-max-height: 160;
    -fx-background-color: white;
    -fx-border-color: #dddddd;
}

.combo-box-popup .list-cell{
    -fx-padding: 8 10;
    -fx-font-size: 14px;
}